<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/> <!-- for android 11+ -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- for android 10 and less -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- for android 10 and less -->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />


    <!-- Autostart Service -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UsbBackup"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FakeActivity"
            android:theme="@style/Theme.Transparent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>



        <activity
            android:name=".AddActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".IntroActivity"
            android:exported="true" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />

        <receiver
            android:name=".mediascanning.NotificationReceiver"
            android:exported="true">
        </receiver>

        <receiver
            android:name=".mediascanning.MediaBroadcastReceiver"
            android:exported="true">
            <intent-filter>

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/device_filter" />
        </receiver>

        <service
            android:name=".mediascanning.MediaScanService"
            android:foregroundServiceType="shortService"
            android:exported="false">
        </service>

        <receiver
            android:name="de.felixnuesse.linkreciever.Autostartreciever"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>